<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Skills</title>
</head>
<body>
    <h1>Developer Skills</h1>
    //added /new to match Jim
    <a href='/skills/new'>Dev Skills List</a>
    <ul>
        <% skills.forEach(function(t) { %>
            <li>

              <a href="/skills/<%= t.id %>"><%= t.skills %></a>
            -
            // added t.done to match Jim
          <%= t.done ? 'done' : 'not done' %>

          <form action="/skills/<%= t.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>

        </li>
      <% }); %>
    </ul>
  </body>
</html>
